@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

html, body {
    background-color: white;
    padding: 0;
    margin: auto;
    float: center;
}

.content {
    font-family: 'Roboto', sans-serif;
}

.content span {
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 5px;
    padding-top: 8px;
    margin-bottom: 5px;
    padding-bottom: 3px;
    font-family: 'Roboto', sans-serif;
}

.container:hover {
    cursor: pointer;
    background-color: #f1f0f0;
    transition: all 150ms ease;
}

.container:not(:hover) {
    transition: all 150ms ease;
}

.chatPicture img {
    border-radius: 50%;
    height: 70px;
    margin-left: 15px;
}

.chatDescription {
    margin-top: 14px;
    margin-left: 6px;
}

.chatText {
    margin-top: 5px;
    margin-left: -2px;
    color: #979797;
}

.navbar .fa-comment {
    color: #283593;
}