
.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 0.5px 3px #888888;
    background-color: #283593;
    padding-bottom: 2vmax;
    z-index: 2;
    margin: auto;
}

.logo {
    padding: 3vmax 0px 0px 2vmax;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 2vmax;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    border-width: 1px;
    background-color: white;
    box-shadow: 0px -0.5px 3px #888888;
    z-index: 2;
    margin: auto;
}

.navbar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 13px 0;
    transition: all 0.3s ease;
    color: black;
    font-size: 4vmax;
}

.navbar a:hover {
    color: #283593;
}

.search {
    float: right;
    color: white;
    position: relative;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    margin: 2vmax 4vmax 1vmax 0px;
    padding: 7px 9px 0px 9px;
    border: 1.5px solid #FFFFFF;
    border-radius: 50%;
    transition: all 150ms ease;
    cursor: text;

    &:after {
        content: "";
        position: absolute;
        width: 1.5px;
        height: 20px;
        right: -5px;
        top: 13px;
        background: #FFFFFF;
        border-radius: 3px;
        transform: rotate(-45deg);
        transition: all 150ms ease;
    }

    input {
        width: 100%;
        border: none;
        box-sizing: border-box;
        font-family: 'Roboto';
        font-size: 2vmax;
        color: inherit;
        background: transparent;
        outline-width: 0px;
    }
}

#topBuffer {
    margin-top: 9vmax;
}

#bottomBuffer {
    margin-bottom: 10vmax;
}