@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

html {
    height: 100%;
    padding: 0;
}

#logo {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    background-color: #283593;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 30px;
}

.headingsContainer {
    font-family: 'Roboto', sans-serif;
    padding: 40px 15px 20px 15px;
    font-weight: bold;
    font-size: 18pt;
}

.descriptionContainer {
    display: grid;
    grid-template-columns: 8% 92%;
    padding: 15px 15px 25px 15px;
    font-family: 'Roboto', sans-serif;
}

.firstContainer {
    padding-bottom: 18px;
}

.descriptionPicture {
    color: #ADB9D3;
    font-size: 40px;
}

.fa-book {
    margin-left: 3px;
    font-size: 47px;
}

.fa-wallet {
    font-size: 48px;
}

.content {
    background-color: #EDF0F5;
    height: 100%;
}

.descriptionText {
    margin-top: 15px;
}

#bold {
    margin-left: 40px;
    font-weight: bold;
}

#light {
    color: #666666;
}

body {
    margin: auto;
    padding: 0;
    max-width: 500px;
    height: 100%;
    /* background-image: linear-gradient(to bottom right, #283593, #42A5F5);
    background-repeat: no-repeat; */
}